/* Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

/* Flat CSS components */
.card-flat {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  flex-basis: calc(50% - 20px);
  margin: 10px;
}

.card-flat-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 5px 5px 0px 0px;
}

.card-flat-title {
  background-color: hsl(220, 13%, 18%, 1);
  color: hsla(0, 0%, 100%, 1);
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  transition: background-color 50ms ease-in-out;
}

.card-flat:hover {
  opacity: 0.9;
}
